body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .container10 {
    background-color: #ff5722;
    flex: 1 0 20%; /* Largura do container 10 */
    height: 20%;
    margin: 5px;
  }
  
  .container4 {
    background-color: #ffc107;
    flex: 1 0 20%; /* Largura do container 4 */
    height: 40%;
    margin: 5px;
  }
  
  .container12 {
    background-color: #4caf50;
    flex: 1 0 20%; /* Largura do container 12 */
    height: 20%;
    margin: 5px;
  }
  
  .container5 {
    background-color: #ff9800;
    flex: 1 0 20%; /* Largura do container 5 */
    height: 20%;
    margin: 5px;
  }
  
  .container6 {
    background-color: #2196f3;
    flex: 1 0 20%; /* Largura do container 6 */
    height: 20%;
    margin: 5px;
  }
  
  .container2 {
    background-color: #e91e63;
    flex: 1 0 30%; /* Largura do container 2 */
    height: 40%;
    margin: 5px;
  }
  
  .container7 {
    background-color: #9c27b0;
    flex: 1 0 40%; /* Largura do container 7 */
    height: 20%;
    margin: 5px;
  }
  
  .container8 {
    background-color: #3f51b5;
    flex: 1 0 40%; /* Largura do container 8 */
    height: 40%;
    margin: 5px;
  }
  
  .container9 {
    background-color: #009688;
    flex: 1 0 30%; /* Largura do container 9 */
    height: 20%;
    margin: 5px;
  }
  
  .container13 {
    background-color: #673ab7;
    flex: 1 0 20%; /* Largura do container 13 */
    height: 20%;
    margin: 5px;
  }