.tela-escrivaninha-container{

    display: flex;

    height: 100vh;
    justify-content: center;
    align-items: center;

}
.escrivaninha-mesa{

    display: flex;

    height: 100%;
    width: 100%;
    
    background-color: var(--fundoDivs);
    background-image: url('./public/images/Group 1 (1).png');
    
        background-size: 100%;
        border-radius: 3px;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-style: solid;
        border-color: #8c5d47;
}

.escrivaninha-navbarVertical{

    display: flex;
    background-color: rgb(249, 238, 222);
    height: 100%;
    width: 5%;
    flex-direction: column;
  
}

.escrivaninha-resenha-container{
display: flex;
height: 100%;
width: 45%;
justify-content: center;
align-items: center;
}

.resenha-container-textBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80%;
    width: 75%;
    background-color: rgb(255, 243, 225);
    margin-bottom: 10%;
    box-shadow: 0px 0px 2px  rgb(255, 243, 225);
}
.inpt-tituloResenha{

    display: flex;
    
    margin-top: 2%;
    width: 100%;
    font-size: 27px;
    font-family: "fonte-projeto";
    color: rgb(89, 68, 52);
    font-weight: 900;
    text-align: center;
    border: none;
    background: none;

}

.inpt-tituloResenha:focus{

    outline-width: 0px;
}

.inpt-resenha{

    
    resize: none;
    font-weight: 400;
    font-size: 20px;
    font-family: "fonte-projeto";
    padding-left: 20px;
    color: rgb(89, 68, 52);
    padding-right: 20px;
    text-align: start;
    font-weight: 500;
    height: 100%;
    width: 100%;
    border: none;

}

.inpt-resenha:focus{

    outline-width: 0px;
}

.escrivaninha-info-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 58%;
}

.info-container-isbn{  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14%;
    width: 100%;
    background-color: #c89a85;
}

.info-container-livroContainer{  
    display: flex;
    flex-direction: row;
    height: 33%;
    width: 100%;
    background-color: #d35d26;
}

.livroContainer-capa{
    height: 100%;
    width: 25%;
    margin-left: 28px;
    background-color: #c1cc9f;
}

.livroContainer-desc{

        height: 100%;
        width: 67%;
        background-color: #8ba049;
}

.livroContainer-tags{
    height: 17%;
    width: 100%;
    background-color: #a0a982;
}