.tela-escrivaninha-container{

    display: flex;

    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: "fonte-projeto";

}
.escrivaninha-mesa{

    display: flex;

    height: 100%;
    width: 100%;
    
    background-color: var(--fundoDivs);
    background-image: url('./public/images/Group 1 (1).png');

        background-size: 100%;
        border-radius: 3px;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-style: solid;
        border-color: #8c5d47;
}

.escrivaninha-navbarVertical{

    display: flex;
    background-color: rgb(249, 238, 222);
    height: 100%;
    width: 5%;
    flex-direction: column;
  
}

.escrivaninha-resenha-container{
display: flex;
height: 100%;
width: 45%;
justify-content: center;
align-items: center;
}

.resenha-container-textBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80%;
    width: 75%;
    background-color: rgb(255, 243, 225);
    margin-bottom: 10%;
    box-shadow: 0px 0px 2px  rgb(255, 243, 225);
}
.inpt-tituloResenha{

    display: flex;
    
    margin-top: 2%;
    width: 100%;
    font-size: 27px;
    font-family: "fonte-projeto";
    color: rgb(89, 68, 52);
    font-weight: 900;
    text-align: center;
    border: none;
    background: none;
    
}

.inpt-tituloResenha:focus{

    outline-width: 0px;
}

.inpt-resenha{

    
    resize: none;
    font-weight: 400;
    font-size: 20px;
    font-family: "fonte-projeto";
    padding-left: 20px;
    color: rgb(89, 68, 52);
    padding-right: 20px;
    text-align: start;
    font-weight: 500;
    height: 100%;
    width: 100%;
    border: none;

}

.inpt-resenha:focus{

    outline-width: 0px;
}

.escrivaninha-info-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 58%;
}
.Infor-container-isbnlbl{
    margin-top: 2%;
    font-family: "fonte-projeto";
    text-align: center;
    color: rgb(188, 90, 48);
    width: 13%;
    height: 34%;
    font-size: 23px;
    letter-spacing: 5px;
    background-color: #fef4e9;
    border-radius: 3px;
}

.infor-container-isbnInpt{ 
    margin-top: 2%;
    font-family: "fonte-projeto";
    margin-left: 6px;
    text-align: center;
    color: rgb(191, 82, 36);
    width: 32%;
    height: 36%;
    font-size: 20px;
    letter-spacing: 3px;
    background-color: #f9f3e5;
    border: none;
    border-radius: 13px;


}

.infor-container-isbnInpt:focus{
    outline-width: 0;
}


.info-container-isbn{  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 11%;
    width: 100%;
    background-color: #c89a85;
}

.info-container-livroContainer{  
    display: flex;
    flex-direction: row;
    height: 33%;
    width: 100%;
    background-color: #d35d26;
}

.livroContainer-capa{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 11px;
    height: 95%;
    width: 20%;
    margin-left: 4%;
    background-image: url('./public/images/ilha.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #c1cc9f;
}

.livroContainer-desc{
    display: flex;
    flex-direction: column;
    
        height: 100%;
        width: 72%;
        background-color: #8ba049;
}

.desc-livroTitulo{
    height: 30%;
    margin-top: 11px;
    display: flex;
    justify-content: start;
    width: 75%;
    margin-left: 5%;
    background-color: #d35d26;
}
.livroTituloLbl{
    margin-top: 1%;
    margin-left: 2%;
    font-size: 40px;
    letter-spacing: 5px;
    color: antiquewhite;
}
.desc-livroDesc{
    height: 70%;
    width: 95%;
    margin-left: 5%;
    background-color: #886620;
}

.livroContainer-tags{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 14%;
    margin-right: 4.2%;
    width: 96%;
    background-color: #a0a982;
}

.tags-btnAutor{
    height: 60%; 
    width: 30%;
    letter-spacing: 4px;
    font-family: "fonte-projeto";
    font-size: 22px;
    color: #f9f3e5;
    background-color: #d35d26;
    border: none;
    border-radius: 2px;
}

.tags-btnEditora{
    margin-left: 2.5%;
    height: 60%; 
    width: 30%;
    letter-spacing: 4px;
    font-family: "fonte-projeto";
    font-size: 22px;
    color: #f9f3e5;
    background-color: #d35d26;
    border: none;
    border-radius: 2px;
}
.tags-btnData{
    margin-left: 2.5%;
    height: 60%; 
    width: 30%;
    letter-spacing: 4px;
    font-family: "fonte-projeto";
    font-size: 22px;
    color: #f9f3e5;
    background-color: #d35d26;
    border: none;
    border-radius: 2px;
}

.livroContainer-nota{
    display: flex;
    flex-direction: row;
    height: 12%;
    width: 100%;
    margin: 3%;
    background-color: #636e3d;
}
.nota-labelEspaco{
    width: 50%;
    display: flex;
    background-color: rgb(202, 125, 86);
}

.estrelas-div{

    width: 50%;
    display: flex;
    flex-direction: row;
    background-color: #947878;
}

.livroContainer-enviar{
    height: 11.8%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #6cb47f;
}

.livroContainer-btnEnviar{
    height: 67%;
    width: 60%;
    font-family: "fonte-projeto";
    font-size: 40px;
    letter-spacing: 2px;
    border: none;
    border-radius: 4px;
    color: #fef4e9;
    background-color: #d35d26;
}
