
.barra-pesquisa{

    /* background-color: red; */
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
}
.inpt-pesquisar{

    height: 50px;
    width: 380px;
    border: solid #d7beb1;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 40px;
    color: #40454b;
    font-family: "fonte-projeto";
    font-size: 34px;
    font-weight: 700;
    margin-left: 75px;
    

}
.inpt-pesquisar:focus{

    outline: none;
}

.btn-pesquisa{
   border: none;
   cursor: pointer;
   margin-left: -41px;
   padding-top: 4px;
   
}

.icon-pesquisar{
    height: 30px;
    width: 30px;
    /* margin: 1% 1% 0% 10%; */
    background-color: #fdfaf3;
}

.btn-filter{

    margin-left: 50px;

}