.box__livro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: darkcyan;
    height: 200px;
    width: 140px;
}

    .capa__livro{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70%;
        width: 100%;
        background-color: white;
    }
        .imagem__livro{
            height: 100%;
            width: 100%;
        }
    .titulo__livro{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30%;
        width: 100%;
        background-color: rgb(145, 80, 80);
    }