.livro-aleatorio {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.livro-aleatorio-container {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center;     /* Centraliza verticalmente */
  height: 100%;            /* Ajuste conforme necessário */
}