.resenhaLivro-container{

  display: flex;
  height: 34vh;
  width: 45vw;
  justify-content: center;
  align-items: center;
  font-family: "fonte-projeto";
  background-color: #ecd8c7;
  border-radius: 2px;
  flex-direction: column;


}
.resenhaBody{

    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
    border-style: solid;
    border-width: 0px;
    border-radius: 3px;

}

.resenhaTop{

    display: flex;
    padding: 1%;

    height: 20%;
    width: 100%;
    background-color: rgb(206, 119, 79);
    font-size: 40px;
    color: blanchedalmond;
    gap: 1%;

    
}

.resenhaMiddle{

    display: flex;
    font-size: 30px;
    height: 65%;
    width: 100%;
    background-color: rgb(255, 234, 206);
    padding: 2%;
    overflow: scroll;

    
}

.resenhaBottom{

    display: flex;
    font-size: 40px;
    justify-content: start;
    align-items: center;
    padding: 0.5%;
    height: 15%;
    width: 100%;
    background-color: rgb(189, 121, 76);
}

